<p>Welcome to the Welcoming Websites Wizard!</p>

<p>The <a href="http://www.welcomingwebsites.com/wizard">Welcoming Websites Wizard</a> is an easy-to-use platform for building websites for Unitarian Universalist congregations.  This software includes a number of features that churches typically need in a website, including a sermon archive, newsletter archive, ministers listing, and much more.  The Wizard is an installation profile for the <a href="http://drupal.org">Drupal</a> content management system.

<p>To get started, we suggest you take the following steps:</p>

<ol>
<li> <a href="&base_url&admin/user/user/create">Create an editor</a> user.  Once you have created that user, log out of the site, and use that account for all of your day-to-day site editing needs.  The account you are currently using has unchecked access on this site, and is therefore unsafe for minor editing.  You should only use this administrative account for occasional maintenance needs.

<li> <a href="&base_url&node/1/edit">Edit your welcome page</a> to greet visitors to your site with a custom message.

<li> <a href="&base_url&admin/user/user/create">Create user accounts</a> for your ministers and other staff.  Doing so will automatically populate your <a href="&base_url&ministers"> and <a href="&base_url&staff">staff</a> pages.</li>

<li> Create content for your <a href="&base_url&node/add/reclass">religious education classes</a>, <a href="&base_url&node/add/committee">committees</a> and <a href="&base_url&group">groups</a>. Doing so will automatically populate your <a href="&base_url&reclasses">religious education</a>, <a href="&base_url&committees">committees</a> and <a href="&base_url&groups">groups</a> pages.</li>

<li> Choose a <a href="http://drupal.org/project/Themes">free Drupal theme</a>, and install it on your site.  Once the theme is installed, <a href="&base_url&admin/build/themes">make it your default theme.</a>

<li> Once you've selected a theme, you can start <a href="&base_url&admin/build/block">arranging your sidebars</a>

<li> <a href="&base_url&admin/build/menu-customize/menu-sitemap">Build your site map</a> by adding pages and pre-build dynamic pages to it.</li>

<li> <a href="&base_url&node/add/webform">Create webforms</a> to survey your members, allow propsective visitors to contact you, or create volunteer forms.</li>

<li> Continue <a href="&base_url&node/add">adding content</a> - including newsletters, services, events, and links - to populate your site.</li>

</ol>

<p>Enjoy your new site!